
.title-play-card {
    text-align: center;

}
.recent-games-card {
    text-align: left;
}

.main-card-header {
    margin-top: 40px;

    h1 {
        font-size: 2.5rem;
    }
}
.title-play-card-content {
    margin: 60px auto 40px;

    ion-button {
        margin-top: 18px;
    }
}