<app-header [text]="(quickStart) ? 'Quick Play Setup' : 'Game Setup'"></app-header>

<ion-content>
  <ion-slides [options]="slideOpts" #slides>
    <ion-slide>
      <app-setup-gametype [(gameOptions)]="dartGameController.gameOptions"></app-setup-gametype>
      <app-setup-players [(players)]="dartGameController.players"></app-setup-players>
      <ion-button class="play-btn" (click)="onClickPlay()" [disabled]="!playersValidated">Play Game!</ion-button>
    </ion-slide>
    <ion-slide></ion-slide>
  </ion-slides>
</ion-content>

<!-- <ion-content>
  <ion-slides [options]="slideOpts" #slides>
    <ion-slide>
      <app-setup-gametype></app-setup-gametype>
      <app-setup-players></app-setup-players>
////      <ion-button color="tertiary" class="next-btn" (click)="onClickNext()" [disabled]="!playersValidated">Next</ion-button>
      <ion-button class="play-btn" (click)="onClickPlay()" [disabled]="!playersValidated">Play Game!</ion-button>
    </ion-slide>
////    <ion-slide>
////      <ion-button color="tertiary" class="back-btn" (click)="onClickBack()">Back</ion-button>
////    </ion-slide>
  </ion-slides>
</ion-content> -->
