<app-header [text]="(quickStart) ? 'Quick Play Setup' : 'Game Setup'"></app-header>

<ion-content>
  <ion-slides [options]="slideOpts" #slides>
    <ion-slide>
      <app-setup-gametype
        [(gameOptions)]="dartGameController.gameOptions"
        [quickStart]="quickStart"
      ></app-setup-gametype>
      <ng-container *ngIf="quickStart">
        <app-setup-players [(players)]="dartGameController.players"></app-setup-players>
        <ion-button class="play-btn" (click)="onClickPlay()" [disabled]="!playersValidated">Play Game!</ion-button>
      </ng-container>
      <ion-button *ngIf="!quickStart" class="continue-btn" (click)="nextSlide()">Continue</ion-button>

    </ion-slide>
    <ion-slide>
      <ng-container *ngIf="!quickStart">
        <app-setup-players [(players)]="dartGameController.players"></app-setup-players>
        <ion-button class="play-btn" (click)="onClickPlay()" [disabled]="!playersValidated">Play Game!</ion-button>
      </ng-container>
    </ion-slide>
  </ion-slides>
</ion-content>

